@import "tailwindcss";

@theme {
  /* ... */
}

.textL {
    @apply text-2xl text-pink-400;
}

.buttonDef {
  @apply rounded-xl text-white  pt-1 pb-1 pr-4 pl-4 text-sm ml-2 cursor-pointer
}

.primaryBtn {
  @apply  bg-[#1089FF]
}

.secondaryBtn {
  @apply bg-gray-700
}

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
